@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    height: auto;
}

h1 {
    
    font-size: 25px;
}

.image1 {
    width: 300px;
    height: auto;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    

}

@media only screen and (max-width: 1000px) {
    .image {
        width: 80%;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .image1 {
        width: 80%;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
}

.aboutMe {
    width: 60%;
    height: auto;
    background-color: white;

}

@media only screen and (max-width: 1000px) {
    .aboutMe {

        width: 90%;
        height: auto;

    }
}



.aboutMe H1 {
    padding-left: 10px;
}

.aboutMe p {
    padding-left: 10px;
    padding-right: 10px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #e0d9c5;
    min-height: 300px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 1000px) {
    header {
        padding-top: 30px;
        gap: 20px;

    }
}


.projectPic {
    width: 300px;
    height: auto;
}

.githubPic {
    width: 30px;
    height: auto;
}

.linkPic {
    padding-left: 5px;
}

.nameContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project {
    width: 300px;
    box-shadow: 0 0 10px #e0d9c5;

}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;

}

.project>p {
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.githubFooter {
    width: 40px;
    height: auto;

}

.myWork {
    padding-left: 20px;
    text-align: center;
}






footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #e0d9c5;
    height: auto;
    width: 100%;
}



.contactMe {
    padding-left: 80px;

}



.phonePic {
    padding-right: 20px;
}

.email {
    padding-right: 20px;
}

.imgText {
    text-align: center;
    width:100%; height:0;
    font-size: 25px; line-height: 0;

    position:absolute; top:10%;
    z-index:1;
}

@media only screen and (max-width: 1000px) {
    .imgText {
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .imgText {
        font-size: 20px;
    }
}


figure {
    position: relative;
    display: inline-block;
    
}
  